.side-bar
  .side-bar__user-name
    .side-bar-box
      .side-bar-box__name
        y
      .side-bar-box__icons
        .icon__new-group
          = link_to "#", class: "decoration" do 
            = icon('far', 'edit', class: 'new-group')
        .icon__edit-user
          = link_to "#", class: "decoration" do
            = icon('fas', 'cog', class: 'edit-user')

  .side-bar__group-list
    .group-list-box
      .group-list-box__group-name
        aaa
      .group-list-box__group-message
        no message