.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    
    .group-box {
      margin-top: 35px;
      &__group-name {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333333;
      }
      &__group-members {
        font-size: 12px;
        color: #999999;
      }
    }
    .edit-box {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin: 30px 40px 0;
      border: solid 1px #38aef0;
    }
    .edit-btn {
      text-decoration: none;
      color: #38aef0;
      font-size: 16px;
    }
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    overflow: scroll;
    .message-list-box {
      padding: 35px 40px 46px;
      &__user-info {
        display: flex;
        margin-bottom: 12px;
        .user-info__name {
          font-size: 16px;
          font-weight: bold;
          color: #333333;
        }
        .user-info__time {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__message {
        font-size: 14px;
        color: #434a54;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    .new_message {
      display: flex;
      .input-box {
        width: 100%;
        position: relative;
        .input-message {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          border-style: none;
        }
        .input-box__photo {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
        }
        .photo {
          display: none;
        }
      }
      .message-form__submit-btn {
        height: 50px;
        width: 100px;
        margin-left: 15px;
        background-color: skyblue;
        color: white;
        cursor: pointer;
      }
    }
  }
}